@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap');

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
h1, p{
 font-family: serif;
 color:#686868 ;
}
.navigation-box{
  margin-right: 45%;
  margin-left: 45%;
  padding-top: 10px;
  padding-bottom: 10px;
  width:150px;
  border: solid 1px;
  display:flex;
  justify-content: center;
}

.eyecatch{
  color: #fff;
  position:relative;

}
.eyecatch-img{
  width: 100%;
  margin: 0;
}
.eyecatch p{
  position: absolute;
  top: 10px;
  left: 15px;
  color: white;
  font-family: monospace;
  font-size: 18px;
  letter-spacing: 8px;
}
.eyecatch h1{
  color: white;
  font-weight: 300;
  font-size: 50px;
  text-shadow:5px #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header-menu{
  background-color: #e8e8e8;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
}
.header-menu p{
  font-family: monospace;
  font-size: 18px;
  color: #696969;
  letter-spacing: 8px;
  padding-left: 200px;
}
.header-nav ul{
  display: flex;
  font-size: 15px;
  list-style: none;
  padding-right: 200px;

}
.header-nav ul li a{
  padding: 12px;
  text-decoration: none;
  color: #696969;
}
.concept{
  padding-top: 60px;
}
.concept-content{
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 40px;
}
.concept-content h1{
  color: #000;
  font-weight: 300;
  font-size: 25px;
  margin-top: 20px;
}
.concept-content p{
  line-height:30px;
  font-size: 15px;
}
.information{
  background-color:#f8f8f8;
  padding-top: 20px;
}
.info-content{
  margin-top: 40px;
  margin-left: 30%;
  margin-right: 30%;
  height: 300px;
}
.info{
  display: flex;
  border-bottom: 1px solid ;
  border-collapse: collapse;
  border-width: 0.5px;
  border-color: #d3d3d3;
  padding: 10px;
}
.info h1{
  font-size: 15px;
  font-weight: 200;
  font-family: Arial;
  letter-spacing:1px;
}
.info p{
  font-family: Arial Narrow;
  font-weight: 100;
  letter-spacing:1px;
  padding-left: 2px ;
}
.things{
  display: flex;
  width: 100%;
}
.thingscard{
  border: solid 0.5px;
  border-right: none;
  width: 100%;
  border-color: gray;
}
.card-img{
  width: 100%;
  height: 100%;
  height: 300px;
  position: relative;
  background-size:cover;
  background-repeat: no-repeat;
}
.thingsfood{
  background-image: url("../img/2615381_s.jpg");
}
.thingswear{
  background-image: url("../img/images.jpeg");
}
.thingsuse{
  background-image: url("../img/20171214_0_01.jpg");
}
.thingsfeel{
  background-image: url("../img/61i3tLBZtsL._AC_SX522_.jpg");
}
.thingsmake{
  background-image: url("../img/PAK13_inakanotanbo20130812_TP_V4.jpg");
}

.icontext{
  color: white;
  font-size: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.thingsbottom{
  background-color: white;
  position: relative;
  height: 100px;
  border: solid 0.5px;
  border-color: gray;
  border-right: none;
}
.thingstitle{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: monospace;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 8px;
}
.thingsname{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: monospace;
  letter-spacing: 5px;
}
.calender{
  position: relative;
  background-color:#f8f8f8;
   padding-top: 60px;
   height: 700px;
   padding-bottom: 60px;
}
.calender img{
  width: 60%;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.news{
  padding-top: 60px;
  padding-bottom: 40px;
}
.news-buttons{
  margin-top: 60px;
  display: flex;
  justify-content: center;
}
.news-button{
  padding: 15px 50px;
  font-size: 10px;
  color: gray;
  background-color: #fff;
  border: solid 1px #696969;
  outline: none;
}
.news-button:hover{
  color: #d3d3d3;
  border-color: #d3d3d3;
}
.news-button:active{
  background-color: #4F4D4c ;
  outline: none;
  border-color: #696969;
}
.cafe-news{
  display: flex;
  justify-content: space-around;
  margin: 40px 250px 40px 250px;
}
.cafe-menu{
  width: 250px;
  height: 400px;
}
.cafe-menu img{
  width: 250px;
  height: 250px;
  object-fit: cover;
  border: solid gray 1px;
}
.cafe-menu h1{
  font-family: Arial;
  font-weight: 300;
  padding-top: 15px;
}
.cafe-menu p{
  font-family: Arial;
  font-weight: 100;
  font-size: 14px;
  letter-spacing: 3px;
  padding-top: 10px;
}
.more{
  display: flex;
  justify-content: center;
}
.more button{
  width: 120px;
  height: 50px;
  background-color: #4f4d4c;
  outline: none;
  color:#d3d3d3;
 font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 100;
  font-size: 15px;
  border: solid 0.5px #000;
}
.more button:hover{
  background-color: #fff ;
}
.event-report{
  padding-top: 40px;
  background-color: #f8f8f8;

}
.report{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;

}
.contents{
  width: 30%;
}
.report th img{
  width: 80px;
  height: 80px;
  object-fit: cover;
}
.report td p{
  font-size: 15px;
}

